.navBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px 12px 20px;
    // border: 1px solid lighten($white, 50);
    font-size: 14px;
    color: $white;
    font-family: 500;
    text-decoration: none;
    border-radius: 5px !important;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    background: $theme2 !important;

    &:hover{
        background-color: $theme1;
        &::before{
            animation: shine 1s;
        }
    }
    & .androidIcon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    &::before{
        position: absolute;
    top: 0;
    left: -100%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),to(rgba(255,255,255,.3)));
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    transition: all .3s ease;
    }
    @keyframes shine {
        100% {
            left: 125%;
        }
    }
}