// navbar start
body{
    font-family: 'Kanit' !important;

}
.navbar{
    height: 75px !important;
   
    @include sm{
        height: 87px !important;
    }
    & .navLogo{
        height: 35px;
        @include sm{
            height: 35px;
        }
        @include md{
        height: 45px;

        }
        
    }
    & .navbar-toggler{
        & .menuIcon{
            width: 25px;
            height:25px;
            @include sm{
                width: 30px;
                height:30px;
            }
        }
    }
    & .navbar-nav{
    
        & .navItem{
            position: relative;
            transition: all 0.3s ease-in-out;
      
            & .mainLink{
                padding: 32px 0px;
                transition: all 0.3s ease-in-out;

                & .navLink{
                    font-size: 14px;
                    color: $white;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-family: 'Kanit';
                    display: flex;
                    align-items: center;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color:lighten($theme1, 40);
                    }
                    &.active{
                        color:lighten($theme1, 40);

                    }
                
    
                }
                & .arrowIcon{
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    & img{
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        
        }
    }
}

body{
    & .navbar{
        &.nav-active{
            background: linear-gradient(162deg, rgba(3,42,55,1) 0%, rgba(1,74,117,1) 59%) !important;
            backdrop-filter: blur(10px);
        }
        &:not(.nav-active){
            background-color: transparent;
    
        }
    }

}

// mobile offcanvas 

.mobileOffcanvas{
    width: 300px !important;
    color: #fff!important;
    background-color:$theme2 !important;
    & .logomobile{
        height: 36px;
    }
    & .closeBtn{
        width: 25px;
        height: 25px;
        & img{
            filter: invert(1);
        }
    
    }
    & .inputGroup{
        & .inputSearch{
            border-radius: 100px;
            background-color: #f1f2f6;
            border-bottom: 2px solid #ececec;
            padding: 0 15px;
            height: 40px;
            font-size: 18px;
            color: $black;
            font-weight: 600;
            height: 40px;
            &::placeholder{
                font-size: 17px;
                color: $black;
                font-weight: 600;

            }
            @include sm{

            }
        }
        & .searchIcon{
            background-color: #f1f2f6;
            border-radius: 100px;
            border: none;
            box-shadow: none;
            width: 40px;
            height: 40px;
            padding: 8px !important;
        }
    }
    & .mobileUl{
        & .mobileLink{
            color:$white;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid rgba(254, 254, 254, .08);

            padding: 10px 5px 10px 10px;
            text-decoration: none;
            &.active{
            color: #ff7268;
            }
        }
    }
    & .mobileAccordion{
      
        & .itemAccordion{
            border: none;
            box-shadow: none;
            & .accordionBtn{
                border: none;
                box-shadow: none;
                color:$black;
                font-size: 14px;
                font-weight: 700;
                border-bottom: 1px solid rgba(0,0,0,6%);
                padding: 7px 5px 7px 10px;
                &.active{
                color: #ff7268;
                }
                &::after{
                    border-radius: 3px;
                    background-color: rgba(0,0,0,3%);
                    height: 28px;
                    width: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-position: center;
                    background-size: 10px;
                }
            }
            & .accordionBtn:not(.collapsed){
                background-color: transparent;
                border-radius: 0px;
            }

            & .mobileMenu{
                background-color: transparent;
                & .subMenuLink{
                    font-size: 13px;
                    display: block;
                    color: $black;
                    font-size: 14px;
                    font-weight: 600;
                    border-bottom: 1px solid rgba(254, 254, 254, .08);

                    text-decoration: none;
                    padding: 10px 10px;
                    @include sm{
                    padding: 13px 12px;
                    font-size: 14px;

                    }
                    // &.active{
                    //     color: #ff7268;
                    // }
                }
            }
        }
    }
}

// navbar end 


// hero section 
.heroSection{
    background: linear-gradient(162deg, rgba(3,42,55,1) 0%, rgba(1,74,117,1) 59%);
    // background-image: linear-gradient(rgba(30, 44, 55, .31), #032A37), linear-gradient(rgba(17, 148, 255, 0.16), rgba(17, 148, 255, 0.493)), url(../img/background.png);

    height: 90vh;
    z-index: 1;
    position: relative;

    @include sm{
        height: 100vh;

    }
    @include lg{
        height: 80vh;
    }
    @include xl{
    height: 100vh;
    }
    @include xxl{

    }
    &::after{
        position: absolute;
        content: '';
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        inset: 0;
        filter: invert(1);
        z-index: 2;
    }
    & .heroContent{
        z-index: 555 !important;
        position: relative;
        & .inputNumberGroup{
            height: 45px;
          border-radius: 5px;
          background-color: $white;
          padding: 1px;
          @include sm{
            height: 45px;
            padding: 1px;

          }
            & input{
                font-size: 14px;
                font-weight: 500;
                color: $black;
                @include sm{
                font-size: 16px;
                }
                &::placeholder{
                    font-size: 14px;
                    font-weight: 500;
                    color: $black;
                    @include sm{
                        font-size: 16px
                    }
                }
            }
        }
        
    }
    & .heroImg{
        width: 280px;
        height: 280px;
        @include sm{
            width: 300px;
            height: 300px;
        }
        @include lg{
            height: auto;
            width: auto;
        }
    }
}

// fan app section 

.fanAppSection{
    & .sliderImg{
        height: 450px;
        width: 250px;
        @include lg{
            height: 670px;
            width: 370px;
        }
    }
    & .appIcon{
        height: 50px;
        width: 150px;
        transition: all 0.3s ease-in-out;
        @include sm{
            height: 55px;
            width: 160px;
            &:hover{
                transform: scale(0.9);
            }

        }
    }
}

.splitGame{
    & .plyerImg{
        position: relative;
        &:hover{
            &::before{

                animation: shine 1s;
            }

        }
        &::before{
            position: absolute;
        top: 0;
        left: -100%;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: -o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
        background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),to(rgba(255,255,255,.3)));
        background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
        -webkit-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
        transform: skewX(-25deg);
        transition: all .3s ease;
        }
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

// accodionSection start 

.accodionSection{
    background: linear-gradient(162deg, rgba(3,42,55,1) 0%, rgba(1,74,117,1) 59%);
& .accordion{
    border: none;
    & .accordion-item{
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-bottom: 1px solid rgba(254, 254, 254, .08);
        & .accordion-header{
            // height: 60px;
            border: none;
            background-color: transparent;
            box-shadow: none;
            & .accordion-button{
                padding-left: 0;
                border: none;
                background-color: transparent;
                box-shadow: none;
                font-size: 16px;
                padding: 20px 0px;
                color: $white;
                font-weight: 400;
                &::after{
                    filter: invert(1);
                }
                @include sm{
                    font-size: 18px;
                    padding: 30px 0px;
                }
            }
        }
        & .accordion-body{
            background-color: $theme2;
        }
    }
}
}

.ctaSection{
    & .ctaCard{
        background-color: $theme1;
        border-radius: 18px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        @include sm{
        padding: 30px 70px;

        }
        @include md{
        padding: 40px 90px;

        }
        & .cardContent{
            position: relative;
            z-index: 55;
            & .userImg{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                & img{
                    filter: invert(1);
                }
                @include sm{
                    width: 60px;
                    height: 60px;
                }
            }
            & .ctaHeading{
                font-size: 28px;
                line-height: 35px;
                font-weight: 500;
                color: $white;
                @include md{
                    font-size: 43px;
                    line-height: 53px;
                }
            }
            // & .ctaButton{
            //     color: $white;
            //     background-color: $theme2;
            //     border: 2px solid $theme2;
            //     border-radius: 5px;
            //     padding: 12px 34px;
            //     font-size: 14px;
            //     font-weight: 600;
            //     line-height: 1.1em;
            //     transition: all .2s;
            //     display: inline-block;
            //     align-items: center;
            //     justify-content: center;
            //     margin: auto;
            //     text-decoration: none;
            //     position: relative;
            //     overflow: hidden;

            //     @include sm{
            //         font-size: 15px;
            //         &:hover{
            //          &::before{
            //             animation: shine 1s;
            //          }
            //         }
            //     }
            //     @include md{
            //     font-size: 16px;

            //     }

            //     &::before{
            //         position: absolute;
            //     top: 0;
            //     left: -100%;
            //     display: block;
            //     content: "";
            //     width: 50%;
            //     height: 100%;
            //     background: -o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
            //     background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),to(rgba(255,255,255,.3)));
            //     background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
            //     -webkit-transform: skewX(-25deg);
            //     -ms-transform: skewX(-25deg);
            //     transform: skewX(-25deg);
            //     transition: all .3s ease;
            //     }
            //     @keyframes shine {
            //         100% {
            //             left: 125%;
            //         }
            //     }
            // }
            
        }
        &::after{
            position: absolute;
            content: '';
            background-image: url(../img/background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            inset: 0;
            filter: invert(1);
            z-index: 2;
        }
    }
}

.bottomFutter{
    background-color: $theme2;
    // height: 100px;
    padding: 15px 0px;
    position: fixed;
    bottom: 0;
    z-index: 666;
    &::after{
        position: absolute;
        content: '';
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        inset: 0;
        filter: invert(1);
        z-index: 1;
    }
    & .logo{
        width: 180px;
        height:55px;

        
    }
    & .bottomLink{
        font-size: 18px;
        color: $white;
        font-weight: 600;
        position: relative;
        z-index: 33;
      
    }
    & .topArrowIocn{
        z-index: 22;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.09);
        position: fixed;
        right: 15px;
        bottom: 80px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(235, 230, 230);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        animation: animatedBackground 1s infinite alternate;
        @include md{
            right: 80px;
            bottom: 15px;
            width: 55px;
            height: 55px;
            padding: 15px;

        }
    }
    & .inputNumberGroup{
        height: 45px;
      border-radius: 5px;
      background-color: $white;
      padding: 1px;
      @include sm{
        height: 45px;
        padding: 1px;

      }
        & input{
            font-size: 14px;
            font-weight: 500;
            color: $black;
            @include sm{
            font-size: 16px;
            }
            &::placeholder{
                font-size: 14px;
                font-weight: 500;
                color: $black;
                @include sm{
                    font-size: 16px
                }
            }
        }
    }
}

 @keyframes animatedBackground {
    0% {
        background-position: center 70%;
    }
    100% {
        background-position: 50%;
    }
 }

 .termHeader{
    background-image: url(../img/privacy.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
 }


//  contactUsSection start 

.contactUsSection{
    & .iconCall{
        width: 40px;
        height: 40px;
        @include sm{
            width: 50px;
            height: 50px;
        }
    }
    & .headingForm{
    font-size:16px ;
    font-weight: 600;
    color: $theme1;
    @include sm{
    font-size:18px ;

    }
    }
    & .mailLink{
        font-size: 13px;
        color:$theme3;
        @include sm{
        font-size: 14px;

        }
    }
    & .formSection{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.09);
        padding: 20px;
        border-radius: 10px;
        @include sm{
        padding: 40px;

        }
        & .inputForm{
            height: 42px;
            border-radius: 5px;
            font-size: 14px;
        }
        & .textArrea{
            font-size: 14px;
            height: 150px;
            border-radius: 5px;

        }
    }
}